@import "../utils/mixins";
.footer{
    height: auto;
    background-color: darken($cd-grey, 50%);
    color:white;
    padding-bottom: 12px;
    &__title{
        margin-left:25px;
        margin-top: 0%;
        padding-top: 26px;
        @include typography(shrikhand,18px,lighter);  
    }
    &__list{
        @include display(flex,column);
        padding-left: 25px;
        padding-top: 6px;
        list-style:none;
        &__links{
            color:white;
            @include typography(roboto,16px,lighter);
            text-decoration: none;
            margin-top: 5px;
            margin-bottom: 0px;  
            i{
                margin-right: 6px;
                font-size: 12px;
            }
        }
    }
}