
.article-Gallery{
  @include alignFlex;
  flex-wrap: wrap;
}

.gallery{
  @include alignFlex;
  flex-direction: column;
	margin: 5px;
	border: none;
	width: 32%;
  height: 350px;
  overflow: hidden;
  border-radius: 5px;
	&:hover {
		border: 1px solid #777;
	}
 
	img {
    bottom: 60px;
    width: 100%;
    height : 100%;
    object-fit:cover;
  }
  video {
    height: 100%;
    bottom: 60px;
    width: 100%;
    object-fit: cover;
  }
		
}
.desc {
	text-align: center;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  color:#901C1C;
  padding-right: 5px;
  padding-left: 5px;
  
}
.image{
  width: 100%;
  height: 100%;
  overflow: hidden;
 
}
.video{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.likes{
  @include alignFlex;
  i{
    margin-left: 5px;
  }
}
.image-1{
  width: auto;
  padding: 90%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 60%;
  overflow: hidden;  
  background-image:url(/images/Mimi/Animals_Rainbow.jpg);
}