.menu{
    @include display(flex,column);
    height: auto;
    &__title{
        @include typography(roboto,16px,lighter);
        margin-left:20px;
        margin-top:30px;
        border-bottom:3px solid $cd-tertiary ;
        width: 40px;
        padding-bottom: 3px;
    }
    &__sweet--adjustment{
        margin-top: 44px;
    }
}