.button {
    @include display(flex,row);
    @include align();
    color:white;
    @include typography(roboto,16px,normal);
    box-shadow: $box-shadow;
    background:$button-gradient;
    border: none;
    border-radius:35px;
    cursor:pointer;
    padding:15px 25px;
    text-decoration:none;
    &:hover {
        background:$button-gradient--hover;
        box-shadow:$box-shadow--hover;
    }
    &:active {
        position:relative;
        top:1px;
    }
} 
.box{
    @include display(flex,row);
    @include align();
    &__commandbutton{      
        padding-left: 45px;
        padding-right: 45px;
        margin-bottom: 55px;
        margin-top: 25px;
    }
}