.cta{
  @include alignFlex;
  position :fixed;
  font-weight: bold;
  background-color: $cd-primary;
  width: 170px;
  height: 30px;
  top: 6px;
  margin: auto;
  left: 0;
  right: 0;
  display: none;
  cursor: pointer;
}
