

.dropdown {
  position:absolute;
  left:85px;
  z-index: 1;
  &__content{
    display: flex;
    flex-direction: column;
    background-color: #911C1C;
    width:170px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.57);
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
      .dropdown__content__sub {
        display: block;
      }
      .dropdown__content__link{
        border-bottom: white solid;
        border-width:thin;
      }
      .delborder{
        border-bottom: hidden;
      }
      .arrow::after{
        transform: rotate(-180deg);
      }
    }
    &:focus-within{
      .dropdown__content__sub {
        display: block;
      }
      .dropdown__content__link{
        border-bottom: white solid;
        border-width:thin;
      }
      .delborder{
        border-bottom: hidden;
      }
      .arrow::after{
        transform: rotate(-180deg);
      }
    }
    
    &__link{
      text-decoration: none;
      color:white;
      padding: 16px;
      font-size: 16px;
      margin-left: 15px;
      margin-right: 15px;
    }
    &__sub{
      display: none;
    }
  }
}
.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.arrow::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f078";
  margin-left: 15px;
}
