.hearticones--1{
    position: absolute;
    font-size: 1.5rem;
    top:26.3%;                                                                                                                            
    right:5.2%;
    background-image: linear-gradient(to top,$cd-secondary,$cd-primary);
    -webkit-background-clip: text;
    color: transparent;
    background-position: 0 24px;
    height: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    transition: background-position 1s;        
    &:hover{
        background-position: 0 0px;    
    } 
}
.hearticones--2{
    font-size: 1.5rem;
    top:0%;
    right:0%;
    color:black;
    opacity: 1;
    position:absolute; 
    transition: opacity 1.5s;  
    &:hover{
        opacity:0;    
    }
}
.menuajustment{
    top:60%;
    right:10%;
}