.nav{
    @include alignFlex;
    flex-direction: row;
    left: 27.29%;
    right: 35.83%;
    top: 5%;
    bottom: 92.48%;
    margin-bottom: 5px;
    @media all and (max-width: 1036px){
        width:100%;
        order: 2;
    } 
    @media all and (max-width: 525px){
        flex-wrap: wrap;
    }
    ul{
        @include alignFlex;
        padding-inline-start: 0px;
        margin: inherit;
       
        @media all and (max-width: 525px){
            flex-wrap: wrap;
        }
    }
    li{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-right: 5px;
        padding: 5px;
        border: 0.5px solid #C4C4C4;
        border-radius: 11px; 
        color:$cd-tag;
        background-color: #FFFFFF;
        @media all and (max-width: 1036px){
            margin-top: 5px;
        } 
        
        &:hover{
            &:before{ 
                color: #FFFFFF;
            } 
            a{
                color: #FFFFFF;  
            }
            background-color : #911C1C;
        }
        &:focus{
            &:before{ 
                color: #FFFFFF;
            } 
            a{
                color: #FFFFFF;  
            }
            background-color : #911C1C;
        }
    }
    li:before{ 
        content: "#";
        color:$cd-tag;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
          
    }
    a{
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
        color:$cd-tag;
        text-decoration: none;
        list-style: none;
        @media all and (max-width: 1150px){
            font-size: 9px; 
        }
        @media all and (max-width: 1036px){
            font-size: 12px; 
        }
        @media all and (max-width: 300px){
            font-size: xx-small;
        } 
    }
}
.nav_panel{
    justify-content: normal;
}