.ordertype{
    @include display(flex,column);
    height: auto;
    counter-reset: section;
    &__list{ 
        margin: 15px 18px 18px 32px;
        text-decoration: none;
        @include typography(roboto,15.5px,bold);
        color: black;
        background-color: white;
        border-radius: 18px;
        box-shadow: 0px 5px 18px -3px darken($cd-grey, 30%);
        padding: 20px 0px 15px 15px;
        position: relative;  
        @media all and (min-width: 1000px){
            padding-right: 30px;
        } 
        &::before {
            counter-increment: section;
            content: "" counter(section);
            position:absolute;
            @include display(flex,row);
            list-style-type: decimal;
            background-color:$cd-primary;
            border-radius: 45px;
            @include typography(roboto,15px,lighter);
            color: white;
            padding: 2px 8px 2px 8px;
            top: 20px;
            left:-11px;   
            text-decoration: none;
        }
        &__icons{
            margin: 0px 21px 10px 19px;
            font-size: 22px;
            color:darken($cd-grey, 10%);
        }
        &:hover{
            box-shadow: $box-shadow--hover;
            background-color: lighten($cd-primary, 35%);
            i{
                color:$cd-primary; 
            }   
        }   
        &:active{
            top:1px;
        } 
    } 
    @media all and (min-width: 1000px){
        @include display(flex,row);
        @include align();
    } 
}