.panel{
  @include alignFlex(space-between,center);
  padding:30px;
  padding-top: 0px;
  margin-top:30px;
  background: #FAFAFA;
  border-radius: 5px;
  &--split{
    width:60%;
  }
  &__description{
    @include alignFlex(center,flex-start);
    flex-direction: column;
    margin-top: 30px;
  }
  &__name{
    font-weight: normal;
    font-size: 55px;
    margin-bottom: inherit;
    margin-top:15px;
    line-height: 83px;
    text-align:left;
    color: #D3573C;    
  }
  &__location{
    font-weight: normal;
    font-size: 24px;
    margin-bottom: inherit;
    margin-top:3px;
    line-height: 31px;
    text-align: center;
    color: #901C1C;
  }
  &__quote{
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 5px;
    margin-top:3px;
    color: #525252;
  }   
  &__btn{
    @include alignFlex;
    display:flex;
    padding : 21px 11px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #911C1C;
    border-radius: 5px;
    text-decoration: none;
    align-self:flex-start;
    margin-top:50px;
    width:30%;
    &:hover{
      color: #000000;
      background: #DB8876;
    }
    &:focus{
      color: #000000;
      background: #DB8876;
    }
  }
}