.panel{
  @include alignFlex(space-between, flex-start);
  height: auto;
  padding-right:30px;
  padding-top: 0px;
  margin-top:30px;
  background: #FAFAFA;
  border-radius: 5px;
  margin-left: 80px;
  margin-right: 80px;
  @media all and (max-width: 925px){
    background:#FFFFFF;
    margin-top: 0px;
  }
  @media all and (max-width: 645px){
    padding-right:0px;
  }
  @media all and (max-width: 550px){
    margin-left: 20px;
    margin-right: 20px;
  }
  &--split{
    width:60%;
    @media all and (max-width: 820px){
      width:40%;
    }
  }
  &__description{
    @include alignFlex(center,flex-start);
    margin: 0px;
    flex-direction: column;
    margin-top: 50px;
    @media all and (max-width: 670px){
    margin-top: 0px;
    }
    
  }
  &__name{
    font-weight: normal;
    font-size: 55px;
    margin-bottom: inherit;
    margin-top:15px;
    line-height: 83px;
    text-align:left;
    color: #D3573C;
    @media all and (max-width: 1350px){
      font-size: calc(55px * 0.70);
      margin-top: calc(15px * 0.70);
      line-height: calc(83px * 0.70);
    }
    @media all and (max-width: 670px){
      font-size: calc(55px * 0.50);
      margin-top: calc(15px * 0.50);
      line-height: calc(83px * 0.50);
      margin-top:0px;
    }    
    @media all and (max-width: 380px){
      font-size: calc(55px * 0.30);
      margin-top: calc(15px * 0.30);
      line-height: calc(83px * 0.30);
    } 
  }
  &__location{
    font-weight: normal;
    font-size: 24px;
    margin-bottom: inherit;
    margin-top:3px;
    line-height: 31px;
    text-align: left;
    color: #901C1C;
    @media all and (max-width: 1350px){
      font-size: calc(24px * 0.70);
      margin-top: calc(3px * 0.70);
      line-height: calc(31px * 0.70);
    }
    @media all and (max-width: 670px){
      font-size: calc(24px * 0.50);
      margin-top: calc(3px * 0.50);
      line-height: calc(31px * 0.50);
    } 
    @media all and (max-width: 380px){
      font-size: calc(24px * 0.40);
      margin-top: calc(3px * 0.40);
      line-height: calc(31px * 0.40);
    }  
  }
  &__quote{
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 5px;
    margin-top:3px;
    color: #525252;
    @media all and (max-width: 1350px){
      font-size: calc(18px * 0.70);
      margin-top: calc(3px * 0.70);
      line-height: calc(23px * 0.70);
    }
    @media all and (max-width: 670px){
      font-size: calc(18px * 0.50);
      margin-top: calc(3px * 0.50);
      line-height: calc(23px * 0.50);
    }  
    @media all and (max-width: 380px){
      font-size: calc(18px * 0.40);
      margin-top: calc(3px * 0.40);
      line-height: calc(23px * 0.40);
    } 
  }   
  &__btn{
    @include alignFlex;
    padding : 21px 11px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #911C1C;
    border-radius: 5px;
    border: none;
    margin-top:50px;
    width:30%;
    @media all and (max-width: 1225px){
      font-size: 15px; 
    }
    @media all and (max-width: 1095px){
      font-size: 12px; 
    }
    @media all and (max-width: 1030px){
      position:fixed; 
      bottom:0;
      margin: auto;
      left: 0;
      right: 0;
      z-index:+1;
      width:20%;
      padding-left : 1%;
      padding-right : 1%;
    }
    @media all and (max-width: 820px){
      font-size:x-small;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media all and (max-width: 645px){
      font-size:xx-small;
    }
    @media all and (max-width: 360px){
      font-size:6px;
    }
    &:hover{
      color: #000000;
      background: #DB8876;
    }
    &:focus{
      color: #000000;
      background: #DB8876;
    }
  }
}
.margin{
  margin-left: 45px;
  margin-top: 0;
  @media all and (max-width: 925px){
    margin-left: 0px;
  }
  @media all and (max-width: 850px){
    margin-right : 0px;
    padding-right: 0px;
    width: auto;
  }
}
.image__panel{
  display: flex;
  align-self: center;
  width: 175px;
  height: 175px;
  object-fit: cover;
  margin-top : 50px;
  margin-bottom: 50px;
  @media all and (max-width: 850px){
    margin-top: 0;
    width: 150px;
    height: 150px;
  }
  @media all and (max-width: 670px){
    width: 100px;
    height: 100px;
  }
  @media all and (max-width: 400px){
    width: 75px;
    height: 75px;
}
@media all and (max-width: 400px){
  width: 50px;
  height: 50px;
}
  
}