/* .sticker--restaurant{
    text-decoration: none;
    @include display(flex,column);
    height:auto;
    position: relative;
    background-color: white;
    border-radius: 18px;
    box-shadow: $box-shadow--sticker--restaurant;
    margin:0px 20px 20px 20px;
    &__image{
        background-position:bottom;
        padding: 26%;
        border-radius: 15px 15px 0px 0px;
    }
    &__description{
        border-radius: 0px 0px 15px 15px;
        border-top: none;
        padding: 0px 10px 13px 10px;
        position: relative;
        &__title{
            @include typography(roboto,18px,bold);
            color: black;
            margin:11px 10px 5px 2px;
        }
        &__subtitle{
            @include typography(roboto,16.5px,lighter);
            color: black;
            margin:0px 0px 0px 4px;
        }
    }
    @media all and (min-width: 768px){
        width: 40%; 
    }
    @media all and (min-width: 1200px){
        width: 20%; 
    }
} */